

/* font-family: 'Raleway', sans-serif; */
@import url('http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900');
/* font-family: 'Roboto', sans-serif; */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,100,100italic,300italic');
/* font-family: 'Roboto Slab', serif; */
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');



.page {}
.content {}
.sidebar {
    font-size: 14px;
    line-height: 1.3;
}
.content .widget + .widget,
.sidebar .widget + .widget,
.footer .widget + .widget {
    margin-top: 50px;
}
.container {}
.wide .container.full-width {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    /*margin-top: -70px;*/
    /*margin-bottom: -70px;*/
}
.boxed .container.full-width {
    padding-left: 0;
    padding-right: 0;
}

/* 1.4 - Page section block
/* ========================================================================== */

.wide .page-section,
.boxed .page-section > .container {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    /*overflow: hidden; /* small devices */
    background-color: #fbfbfb;
}
.boxed .page-section > .container {
    padding-left: 30px;
    padding-right: 30px;
}
.wide .page-section.dark,
.boxed .page-section.dark > .container {
    background-color: #435469;
    color: #f5f5f5;
}
.wide .page-section.light,
.boxed .page-section.light > .container {
    background-color: #f5f5f5;
    color: #435469;
}
.wide .page-section.color,
.boxed .page-section.color > .container {
    background-color: #dc143c;
    color: #ffffff;
}
.wide .page-section.image,
.boxed .page-section.image > .container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-image: url('../img/preview/background-img-slider.jpg');
    background-size: cover !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat;
}
.wide .page-section.image > .container,
.boxed .page-section.image {
    position: relative;
}
.wide .page-section.image:before,
.boxed .page-section.image > .container:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%; height: 100%;
    background: transparent url("../img/overlay.png") 50% 0 repeat;
}
.page-section.background-img-slider {position: relative;}
.wide .page-section.background-img-slider,
.boxed .page-section.background-img-slider > .container {
    background: transparent url("../img/preview/background-img-slider.jpg") 50% 0 repeat !important;
    background-position: 50% 0 !important;
    background-size: cover !important;
}
.wide .page-section.background-img-slider > .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.boxed .page-section.background-img-slider > .container {
    padding: 0 !important;
}
.page-section.no-padding {padding: 0;}
.page-section.no-padding-top {padding-top: 0;}
.page-section.no-padding-bottom {padding-bottom: 0;}
.page-section.sub-page {padding-top: 150px !important;}
.page-section.with-sidebar {padding-top: 150px;}
.page-section.first-section {padding-top: 50px;}

.wide .page-section.breadcrumbs,
.boxed .page-section.breadcrumbs > .container {
    padding-top: 110px;
    padding-bottom: 15px;
}

.wide .page-section.overlay:before,
.boxed .page-section.overlay > .container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

.block-title {}
.block-text {}
.block-readmore {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* 1.5 - Typography (section title, links, page dividers)
/* ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #141f23;
}
h1 .fa, h2 .fa, h3 .fa, h4 .fa, h5 .fa, h6 .fa,
h1 .glyphicon, h2 .glyphicon, h3 .glyphicon,
h4 .glyphicon, h5 .glyphicon, h6 .glyphicon {
    color: #ea032d;
}



/* Hexagon icon
 * -------------------------------------------------------------------------- */

.rhex {
    background-color: #dc143c;
    margin-top: 14px;
    width: 50px;
    height: 28px;
    border-radius: 2px;
}
.rhex:before,
.rhex:after {
    position: absolute;
    top: 0; left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    content: '';
}
.rhex:before {
    -webkit-transform: rotate(60deg);
    -moz-transform:    rotate(60deg);
    -ms-transform:     rotate(60deg);
    -o-transform:      rotate(60deg);
    transform:         rotate(60deg);
}
.rhex:after {
    -webkit-transform: rotate(-60deg);
    -moz-transform:    rotate(-60deg);
    -ms-transform:     rotate(-60deg);
    -o-transform:      rotate(-60deg);
    transform:         rotate(-60deg);
}

/* Circle icon
 * -------------------------------------------------------------------------- */

.crcle {
    background-color: #dc143c;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 48px;
}

/* Without hexagon icon
 * -------------------------------------------------------------------------- */

.wohex {
    background-color: #dc143c;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 48px;
}

/* Links, Link color
 * -------------------------------------------------------------------------- */

a,
a .fa,
a .glyphicon,
a:hover,
a:hover .fa,
a:hover .glyphicon,
a:active,
a:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

a {color: #ea032d;}
a:hover,
a:active,
a:focus {color: #000000;}

.color a {color: #ffffff;}
.color a:hover,
.color a:active,
.color a:focus {color: #000000;}

p {
    /*-moz-hyphens: auto;*/
    /*-webkit-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*hyphens: auto;*/
    margin-bottom: 20px;
}
ul, ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul, ol ol,
ul ol, ol ul {
    padding-left: 20px;
}

.dropcap {
    display: block;
    float: left;
    font-size: 49px;
    line-height: 48px;
    margin: 0 10px 0 0;
    color: #ea032d;
}
.text-lg {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    color: #141f23;
}


/* 2.2 - Logo hexagon icon
/* ========================================================================== */

.logo-hex {
    margin-top: 14px;
    width: 54px;
    height: 31px;
    border-radius: 3px;
    cursor: pointer;
}
.logo-hex:before,
.logo-hex:after {
    position: absolute;
    top: 0; left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    content: '';
}
.logo-hex:before {
    -webkit-transform: rotate(60deg);
    -moz-transform:    rotate(60deg);
    -ms-transform:     rotate(60deg);
    -o-transform:      rotate(60deg);
    transform:         rotate(60deg);
}
.logo-hex:after {
    -webkit-transform: rotate(-60deg);
    -moz-transform:    rotate(-60deg);
    -ms-transform:     rotate(-60deg);
    -o-transform:      rotate(-60deg);
    transform:         rotate(-60deg);
}
.shrink .logo-hex {
    margin-top: 7px;
    width: 27px;
    height: 15px;
    border-radius: 1px;
}


/* 3.12 - Thumbnails / Features
/* ========================================================================== */

.thumbnail {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
}
.thumbnail.hover,
.thumbnail:hover {
    border: solid 1px #dc143c;
}
.thumbnail.no-border,
.thumbnail.no-border.hover,
.thumbnail.no-border:hover {
    border: none;
}
.thumbnail.no-padding {
    padding: 0;
}
.thumbnail.no-radius {
    border-radius: 0;
}

.row.thumbnails {margin-top: -30px;}
.row.thumbnails .thumbnail {margin-top: 30px;}

.row.thumbnails.no-padding {margin-top: 0; margin-left: 0; margin-right: 0;}
.row.thumbnails.no-padding [class*='col-'] {padding: 0;}
.row.thumbnails.no-padding .thumbnail {margin-top: 0;}

/* Thumbnail Media/Image
 * -------------------------------------------------------------------------- */

.thumbnail .media {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.thumbnail .media:after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /*background: url('../img/overlay-media.png') repeat 50% 50%;*/
}
.thumbnail.hover .media:after,
.thumbnail:hover .media:after {
    opacity: 0.1;
}
.thumbnail .media img {
    max-width: 100%;
    width: 100%;
}
.thumbnail.hover .media img,
.thumbnail:hover .media img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}
/* fix animation bug */
.thumbnail .media.img-circle,
.thumbnail.hover .media.img-circle,
.thumbnail:hover .media.img-circle {
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}

/* Thumbnail caption
 * -------------------------------------------------------------------------- */

.thumbnail {
    border-radius: 10px;
    overflow: hidden;
}
.thumbnail .caption {
    padding: 20px 0 0 0;
    overflow: hidden;
    font-size: 14px;
}
.thumbnail .caption + .caption {padding-top: 10px;}
.thumbnail .caption.no-padding-top {padding-top: 0;}
.thumbnail .caption.no-padding-bottom {padding-bottom: 0;}

.thumbnail .caption.before-media {}
.thumbnail .caption.hovered {
    position: absolute;
    top: 0; right: 0;
    left: 0; bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    background-color: transparent; /*dc143c*/

    color: #ffffff;
    opacity: 0;
    z-index: 10;
}
.thumbnail.hover .caption.hovered,
.thumbnail:hover .caption.hovered {
    opacity: 1;
}
.caption-wrapper {width: 100%;}
.caption-inner {}

/* Caption elements
 * -------------------------------------------------------------------------- */

.caption-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 0 0;
    color: #0d1d31;
}
.hovered .caption-title {color: #ffffff;}
.caption-buttons {margin-bottom: 0;}
.caption-buttons .btn {
    /*background-color: #dc143c;*/
    color: #ffffff;
    font-size: 30px;
}
.caption-buttons .btn:hover {
    /*background-color: #000000;*/
}
.caption-category {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 14px;
    color: #dc143c;
}
.caption-link {}
.caption-zoom {}
.caption-zoom.theone {}
.caption-social {}
.caption-redmore {
    font-size: 12px;
    color: #c4334b;
    text-decoration: underline;
}
.caption-redmore:hover {
    color: #000000;
}

/* --------------------------------------------------------------------------
 * Thumbnail type
 * -------------------------------------------------------------------------- */

/* Thumbnail transition
 * -------------------------------------------------------------------------- */

.thumbnail .media,
.thumbnail .media:after,
.thumbnail .media:before,
.thumbnail.hover .media,
.thumbnail:hover .media,
.thumbnail.hover .media:after,
.thumbnail:hover .media:after,
.thumbnail.hover .media:before,
.thumbnail:hover .media:before,
.thumbnail .media img,
.thumbnail.hover .media img,
.thumbnail:hover .media img,
.thumbnail .media .fa,
.thumbnail.hover .media .fa,
.thumbnail:hover .media .fa,
.thumbnail .caption-title,
.thumbnail.hover .caption-title,
.thumbnail:hover .caption-title,
.thumbnail .caption-zoom,
.thumbnail.hover .caption-zoom,
.thumbnail:hover .caption-zoom,
.thumbnail .caption-link,
.thumbnail.hover .caption-link,
.thumbnail:hover .caption-link,
.thumbnail .caption-category,
.thumbnail.hover .caption-category,
.thumbnail:hover .caption-category,
.thumbnail .caption,
.thumbnail.hover .caption,
.thumbnail:hover .caption {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 3.13 - Media / Testimonials
/* ========================================================================== */

.testimonial .media-body {padding-right: 15px;}
.testimonial .media-heading {font-weight: 700; color: #0d1d31; font-size: 16px; margin-bottom: 0;}
.testimonial .media-heading small {}
.testimonials.owl-carousel .owl-item img {width: auto;}
.testimonials.owl-theme .owl-dots .owl-dot span {
    height: 15px; width: 15px;
}
.color .testimonials.owl-theme .owl-dots .owl-dot span {
    background-color: #dc143c;
    border: solid 2px #ffffff;
}
.color .testimonials.owl-theme .owl-dots .owl-dot.active span,
.color .testimonials.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
}
@media (min-width: 1024px) {
    .testimonials .owl-dots {
        position: absolute;
        top: -65px;
        right: 0;
    }
}

/* HEXAGONS */

.hex {
    position: relative;
    /*height: ;*/ /*width: 170px;*/
    width: 165px;
    margin: 0 auto;
}
.hex .hex-inner {
    margin: 0 auto;
    height: 190px; width: 170px;
    text-align: center;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}
.hex-deg {
    overflow: hidden;
    width: 100%; height: 100%;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.hex-deg .hex-deg {
    width: 100%; height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hex-deg .hex-deg .hex-deg {}

.hex.testimonial-avatar {width: 100px;}
.hex.testimonial-avatar .hex-inner {height: 115px; width: 100px;}
.wohexagon.testimonial-avatar {width: 100px; border-radius: 10px; overflow: hidden;}
.wohexagon.testimonial-avatar .wohexagon-inner {height: 115px; width: 100px;}
.hex.speaker-avatar {}
.hex.speaker-avatar .hex-inner {}

/* CIRCLE */

.circle {
    width: 165px;
    margin: 0 auto;
}
.circle .circle-inner {
    border: 8px solid #AFB4BA;
}
.circle .circle-inner,
.circle .media,
.circle .media > img,
.circle .caption.hovered {
    overflow: hidden;
    border-radius: 50%;
}
.circle .media,
.circle .media > img,
.circle .caption.hovered {
    -webkit-transform: translateZ(0) !important;
    -moz-transform: translateZ(0) !important;
    -o-transform: translateZ(0) !important;
    -ms-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
}


/* 5.3 - Social line
/* ========================================================================= */

.social-line {
    margin: -15px 0 0 0;
    line-height: 33px;
}
.social-line li {
    padding: 20px 5px 15px 0;
}
.social-line a {
    display: block;
    width: 30px;
    height: 15px;
    line-height: 15px;
    background-color: #c3c3c3;
    color: #ffffff;
    text-align: center;
    position: relative;
}
.social-line a:before {
    content: '';
    position: absolute;
    top: -10px; left: 0;
    width: 0; height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #c3c3c3;
}
.social-line a:after {
    content: '';
    position: absolute;
    bottom: -10px; left: 0;
    width: 0; height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #c3c3c3;
}
.social-line a.twitter {background-color: #2daae1;}
.social-line a.twitter:before {border-bottom-color: #2daae1;}
.social-line a.twitter:after {border-top-color: #2daae1;}
.social-line a.facebook {background-color: #3c5b9b;}
.social-line a.facebook:before {border-bottom-color: #3c5b9b;}
.social-line a.facebook:after {border-top-color: #3c5b9b;}
.social-line a.google,
.social-line a[title*='Google+'] {background-color: #f63f29;}
.social-line a.google:before {border-bottom-color: #f63f29;}
.social-line a.google:after {border-top-color: #f63f29;}
.social-line a.flickr {background-color: #216BD4;}
.social-line a.flickr:before {border-bottom-color: #216BD4;}
.social-line a.flickr:after {border-top-color: #216BD4;}
.social-line a.dribbble {background-color: #F46899;}
.social-line a.dribbble:before {border-bottom-color: #F46899;}
.social-line a.dribbble:after {border-top-color: #F46899;}
.social-line a.linkedin {background-color: #0085AE;}
.social-line a.linkedin:before {border-bottom-color: #0085AE;}
.social-line a.linkedin:after {border-top-color: #0085AE;}
.social-line a.forrst {background-color: #729A68;}
.social-line a.forrst:before {border-bottom-color: #729A68;}
.social-line a.forrst:after {border-top-color: #729A68;}
.social-line a.tumblr {background-color: #2C4762;}
.social-line a.tumblr:before {border-bottom-color: #2C4762;}
.social-line a.tumblr:after {border-top-color: #2C4762;}
.social-line a.instagram {background-color: #517fa4;}
.social-line a.instagram:before {border-bottom-color: #517fa4;}
.social-line a.instagram:after {border-top-color: #517fa4;}
.social-line a.pinterest {background-color: #cb2027;}
.social-line a.pinterest:before {border-bottom-color: #cb2027;}
.social-line a.pinterest:after {border-top-color: #cb2027;}
.social-line a.skype {background-color: #00aaf1;}
.social-line a.skype:before {border-bottom-color: #00aaf1;}
.social-line a.skype:after {border-top-color: #00aaf1;}
.social-line a.vimeo {background-color: #5BC8FF;}
.social-line a.vimeo:before {border-bottom-color: #5BC8FF;}
.social-line a.vimeo:after {border-top-color: #5BC8FF;}
.social-line a:hover {background-color: #dc143c;}
.social-line a:hover:before {border-bottom-color: #dc143c;}
.social-line a:hover:after {border-top-color: #dc143c;}
.social-line a,
.social-line a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.footer .social-line {
    margin: 0 0 20px 0;
    line-height: 70px;
}
.footer .social-line li {
    padding: 20px 5px 15px 0;
}
.footer .social-line a {
    width: 60px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
}
.footer .social-line a:before {
    top: -15px;
    border-left-width: 30px;
    border-right-width: 30px;
    border-bottom-width: 15px;
}
.footer .social-line a:after {
    bottom: -15px;
    border-left-width: 30px;
    border-right-width: 30px;
    border-top-width: 15px;
}

.social-line.social-circle a {
    height: 30px;
    border-radius: 15px;
    line-height: 28px;
}
.social-line.social-circle a:before,
.social-line.social-circle a:after {
    display: none;
}
.footer .social-line.social-circle a {
    height: 60px;
    border-radius: 30px;
    line-height: 58px;
}
.footer .social-line.social-circle a:before,
.footer .social-line.social-circle a:after {
    display: none;
}

.social-line.social-wohex a {
    height: 30px;
    border-radius: 4px;
    line-height: 28px;
}
.social-line.social-wohex a:before,
.social-line.social-wohex a:after {
    display: none;
}
.footer .social-line.social-wohex a {
    height: 60px;
    border-radius: 10px;
    line-height: 58px;
}
.footer .social-line.social-wohex a:before,
.footer .social-line.social-wohex a:after {
    display: none;
}

/
.row-event + .row-event {margin-top: 50px;}
@media (max-width: 767px) {
    .row-event-media {margin-bottom: 15px;}
}
.row-event-grid {margin-top: -30px;}
.row-event-grid .row-event-media {margin-top: 30px;}
.row-event-media .date-block {
    z-index: 11;
    position: absolute;
    top: 15px; right: 15px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    color: #f5f5f5;
}
.row-event-media .hover .date-block {
    background-color: rgba(245, 245, 245, 0.90);
    color: #000000;
}
.row-event-media .date-block .month {display: block; font-size: 12px;}
.row-event-media .date-block .day {display: block; font-size: 16px; font-weight: bold;}
.row-event-media .thumbnail > .caption {
    padding: 15px;
    background-color: #f5f5f5;
}
.row-event-media .thumbnail {
    -webkit-transform: translateZ(0);
}
.row-event-body .event-title {
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #dc143c;
    border-bottom: solid 1px #d2d2dc;
}
.row-event-body .event-meta {color: #293239; font-size: 13px; font-weight: 600;}
.row-event-body .event-time {display: block;}
.row-event-body .event-detail {margin-bottom: 30px;}
.row-event-body .event-detail .row-speakers .media{margin-bottom: 20px;}
.row-event-body .event-detail .row-speakers .media-heading {font-size: 16px; line-height: 20px; font-weight: 600;}
.row-event-body .event-detail .media-object {width: 60px;}

.row-related {margin-top: -15px;}
.row-related .media {margin-top: 30px;}

.quantity-group {}
.quantity-group .btn {border-radius: 8px !important; padding: 7px 12px;}
.quantity-group .form-control {background-color: transparent; border-color: transparent; text-align: center; display: inline-block; width: 30px; padding: 0;}

.wide .page-section.single-event-hero,
.boxed .page-section.single-event-hero > .container {
    background-position: 50% 50% !important;
    min-height: 380px;
}
.single-event-hero {color: #ffffff;}
.single-event-hero h1 {max-width: 450px; margin: 0 auto; margin-bottom: 30px;}
.single-event-hero p {max-width: 320px; margin: 0 auto;}

.event-carousel {position: relative;}
.event-carousel .owl-theme .owl-controls .owl-nav [class*=owl-] {padding: 7px 15px; position: absolute;}
.event-carousel .owl-theme .owl-controls .owl-nav .owl-prev {top: 50%; left: 5px;}
.event-carousel .owl-theme .owl-controls .owl-nav .owl-next {top: 50%; right: 5px;}


/* --------------------------------------------------------------------------
 * 6 - Helper Classes
 * -------------------------------------------------------------------------- */

.btn-preview-light,
.btn-preview-light:hover {
    width: 170px;
    border-width: 5px;
    border-color: #f5f5f5;
    background-color: #dc143c;
    margin-right: 9px;
}
.btn-preview-dark,
.btn-preview-dark:hover {
    width: 170px;
    border-width: 5px;
    border-color: #f5f5f5;
    background-color: #0d1d31;
}
@media (max-width: 400px) {
    .btn-preview-light {margin-right: 0 !important;}
}

@media (min-width: 480px) and (max-width: 767px) {
    .col-xsp-4, .col-xsp-6, .col-xsp-8 {float: left;}
    .col-xsp-4 {width: 33.33333333%;}
    .col-xsp-6 {width: 50%;}
    .col-xsp-8 {width: 66.66666667%;}
    .col-xsp-offset-3 {margin-left: 25%;}
}
@media (min-width: 992px) {
    .text-left-md {text-align: left;}
    .text-right-md {text-align: right;}
    .text-center-md {text-align: center;}
}

.text-uppercase {text-transform: uppercase;}

.margin-top {margin-top: 50px;}
.margin-bottom {margin-bottom: 50px;}

.clear {clear: both;}
.vhidden {visibility: hidden;}
.visible {visibility: visible;}
.overflowed {
    overflow: hidden;
    position: relative;
}

.vertical-align {
    position: relative; top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*[data-animation],*/
.animated {
    visibility: hidden;
    -webkit-animation-duration: .65s;
    animation-duration: .65s;
    /*-webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
}
.animated .fa {visibility: hidden;}
.animated .animated .fa {visibility: hidden;}
@media (max-width: 991px) {
    .animated,
    .animated .animated,
    .animated .fa,
    .animated .animated .fa {
        /* Disable animation on small devices */
        visibility: visible;
        -webkit-animation-name: animation-off;
        animation-name: animation-off;
    }

}

.vhidden {visibility: hidden;}
.visible {visibility: visible;}
.visible .fa {visibility: visible;}
.visible .visible .fa {visibility: visible;}

.div-table,
.div-cell {
    height: 100% !important;
    display: table !important;
}
.div-cell {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important;
}
.row.div-table {margin: 0;}
@media (max-width: 767px) {
    .row.div-table .div-cell {display: block !important;}
}
.div-cell.dark {}
.div-cell.light {}
.div-cell.color {}
.div-cell.va-top {vertical-align: top !important;}
.div-cell.padding-top {padding-top: 15px;}
.div-cell.padding-bottom {padding-top: 15px;}
.inline-block {
    display: inline-block !important;
}


